@page "/"
@using SiaSkynet

<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="form">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-input" placeholder="Enter URL here..." @bind="url">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" @onclick="Callback">Make It Shorter</button>
                    </div>
                </div>
                <footer class="pt-3 mt-4 text-muted text-center small">
                    &copy; Kodachi by Mili.ONE Network @DateTime.Now.Year
                </footer>
            </div>
        </div>
    </div>
</div>

@code {
    string url;
    byte[] privateKey;
    byte[] publicKey;
    SiaSkynetClient client;

    protected override void OnInitialized()
    {
        (privateKey,publicKey) = SiaSkynetClient.GenerateKeys("");
        client = new SiaSkynetClient("https://wayback-siasky.milkey.workers.dev/");
    }

    private async void Callback()
    {
        var uid = Guid.NewGuid().ToString();
        await client.SkyDbSetAsString(privateKey, publicKey, new RegistryKey(uid), url);
        url = await client.SkyDbGetAsString(publicKey, new RegistryKey(uid));
    }
}