@page "/"
@using SiaSkynet

<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="form">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-input" placeholder="Enter URL here..." @bind="url">
                    <div class="input-group-append">
                        @if (enable)
                        {
                            <button class="btn btn-secondary" type="button" @onclick="async () => await Callback()">
                                Make It Shorter
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-primary" type="button" disabled>
                                <span class="spinner-grow spinner-grow-sm" role="status"></span>
                                Loading...
                            </button>
                        }
                    </div>
                </div>
                <footer class="pt-3 mt-4 text-muted text-center small">
                    &copy; Kodachi by Mili.ONE Network @DateTime.Now.Year
                </footer>
            </div>
        </div>
    </div>
</div>

@code {
    string url;
    byte[] privateKey;
    byte[] publicKey;
    SiaSkynetClient client;
    bool enable = true;

    protected override void OnInitialized()
    {
        (privateKey,publicKey) = SiaSkynetClient.GenerateKeys("kodachi");
        client = new SiaSkynetClient();
    }

    private async Task Callback()
    {
        enable = false;
        var uid = Guid.NewGuid().ToString();
        await client.SkyDbSetAsString(privateKey, publicKey, new RegistryKey(uid), url);
        var get = await client.SkyDbGetAsString(publicKey, new RegistryKey(uid));
        url = url == get ? uid : "Error";
        Console.WriteLine("GET:" + get);
        Console.WriteLine("UID:" + uid);
        enable = true;
    }
}