@page "/{uid}"
@using SiaSkynet
@inject IToastService toastService
@inject NavigationManager navigationManager

<h1 class="display-1">Redirect to @if (!string.IsNullOrEmpty(url))
    {
        <a href="@url">@url</a> 
    }
    else
    {
        <span>…</span>
    }
</h1>

@code {
    [Parameter]
    public string Uid { get; set; }

    string url = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var (_,publicKey) = SiaSkynetClient.GenerateKeys("kodachi");
            var client = new SiaSkynetClient();
            url = await client.SkyDbGetAsString(publicKey,new RegistryKey(Uid));
            if (string.IsNullOrEmpty(url))
            {
                toastService.ShowWarning("The target link could not be found. ","Not Found");
            }
            else
            {
                navigationManager.NavigateTo(url, true);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            toastService.ShowError(e.Message, "Error!");
        }
    }

}